<style>
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer {
    margin-top: 50px;
    text-align: center;
    background-color: orange;
    padding: 20px;
    }

  .bottom-menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .bottom-menu a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
  }
  .footer-top{
    font-size: 32px;
  }
</style>


<footer>
    <p class="footer-top">Eat, Cook, Repeat</p>
    <p>Eat your best recipes</p>
    <div class="bottom-menu">
      <a href="#">Product</a>
      <a href="#">Company</a>
      <a href="#">Learn More</a>
      <a href="#">Get in Touch</a>
    </div>
</footer>