<style>
*{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 80px;
  margin-top: 30px;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 25px;
}
.ava{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.button {
  margin-right: 80px;
  align-items: center;
}
</style>

<div class="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/views/recipes">Add Recipe</a>
    <a href="/views/profile">Profile</a>
  </div>
  <div>
    <img class="ava" src="/avatar/blackimage.png">
    <a href="/users/register" class="button">Login</a>
  </div>
</div>