<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  .form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  input[name="tittle"],  input[name="videoLink"]{
    width: 800px;
    margin-bottom: 20px;
    border: none;
    background-color: #E5E4E2;
    padding: 20px;
    border-radius: 5px;
  }
  input[name="ingredients"]{
    width: 800px;
    height: 200px;
    margin-bottom: 20px;
    border: none;
    background-color: #E5E4E2;
    padding: 20px;
    border-radius: 5px;
  }
  
  ::placeholder {
    color: black;
  }
  .upload{
    margin-bottom: 20px;
    background-color: #E5E4E2;
    padding: 100px;
    border-radius: 5px;
  }
  .post{
    font-size: 16px;
    margin-left: 100px;
    background-color: orange;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    border-style: none;
    border-radius: 10px;
  }
</style>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="form">
      <form method="POST" action="/recipes" enctype="multipart/form-data">
      <div class="upload">
        <label><input type="file" name="img" accept="image/*,.pdf" style="display: none"/>Upload image</label>
      </div>
      <div>
        <input type="text" name="tittle" placeholder="tittle" required/>
      </div>
      <div>
        <input type="text" name="ingredients" placeholder="Ingredients" required/>
      </div>
      <div>
        <link rel="stylesheet" href="">
        <input type="text" name="videoLink" placeholder="Video Link" required/>
      </div>
      
      <div>
          <input type="submit" value="Post" class="post"/>
      </div>
    </div>
    
  </form>
  <% if(status){ %>
    <% if(status== true){ %>
      <p style="color: green"><%= message %></p>
   <% } else{ %>
      <p style="color: red"><%= message %></p>
    <% } %>
 <% } %>
  
    <footer>
      <%- include('../partials/footer') %>
    </footer>

    
</body>
</html>